@use '../../styles/variables' as *;

.board {
  display: flex;
  flex-direction: row;
  margin: 15px auto 22px;

  @media (max-width: $breakpoint-desktop - 1px) {
    flex-direction: column;
    align-items: center;

    > *:not(:last-of-type) {
      margin-bottom: 16px;
    }
  }

  @media (min-width: $breakpoint-desktop) {
    margin: 30px auto 45px;
  }
}
