@import '../../styles/variables';

.print-container {
  max-width: $card-width-desktop * 2 + 10px;
  margin: 0 auto;

  &__cards {
    display: flex;
    flex-wrap: wrap;

    > * {
      margin-bottom: 10px;

      &:nth-child(2n - 1) {
        margin-right: 10px;
      }
    }

    @media print {
      margin-top: 40px;
      page-break-after: always;
    }
  }
}
