.container {
  max-width: 800px;
  margin: 0 auto;
}

.title {
  font-size: 25px;
  margin-top: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gridItem {
  margin: 10px;
}
