$breakpoint-small: 420px;
$breakpoint-medium: 768px;
$breakpoint-desktop: 1024px;

$font-oldstandard: "Old Standard TT", Georgia, serif;
$font-text: Arial, sans-serif;

$card-width: 290px;
$card-padding: 10px;
$card-triangle1-height: $card-width * 0.409;
$card-triangle2-height: $card-width * 0.118;
$card-triangle-width: $card-triangle1-height * 0.577;
$card-submitbutton-width: $card-width * 0.227;
$card-number-width: $card-width * 0.254;
$card-number-fontsize: 80px;

$card-width-desktop: 475px;
$card-padding-desktop: 20px;
$card-triangle1-height-desktop: $card-width-desktop * 0.409;
$card-triangle2-height-desktop: $card-width-desktop * 0.118;
$card-triangle-width-desktop: $card-triangle1-height-desktop * 0.577;
$card-submitbutton-width-desktop: $card-width-desktop * 0.227;
$card-number-width-desktop: $card-width-desktop * 0.254;
$card-number-fontsize-desktop: 120px;

$card-button-backgroundcolor: #d92a47;
