@import 'variables';

html {
  height: 100%;
  background-color: #efefef;
  font-size: 13px;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  padding: 10px 20px 20px;
  box-sizing: border-box;

  @media (min-width: $breakpoint-medium) {
    padding: 40px 20px 20px;
  }
}

.app-title {
  align-self: flex-start;
  font-family: $font-oldstandard;
}

.app-header {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: $font-opensans;
  margin-bottom: 20px;
}

.app-main {
  max-width: 800px;
  margin: 0 auto;
  font-family: $font-opensans;
}

.app-footer {
  margin-top: 75px;
  text-align: center;
}
