@use "../../styles/variables" as *;

$calculator-button-width: 45px;
$calculator-buttons-gutter: 5px;

.calculator {
  display: inline-block;
  margin: 0 auto;

  &__input {
    width: 100%;
    height: 50px;
    padding: 0;

    border: none;
    border-radius: 5px;

    font-size: 20px;
    text-align: center;
    color: black;

    background-color: white;

    // Hide number scroll
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__message {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;

    &--error {
      color: #d92a47;
    }

    &--success {
      color: #2a9d2a;
    }
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -$calculator-buttons-gutter;
  }

  &__column {
    display: flex;
    flex-wrap: wrap;
    width: $calculator-button-width * 2 + $calculator-buttons-gutter * 2;

    &.-sm {
      width: $calculator-button-width;
    }
  }

  &__button {
    width: $calculator-button-width;
    height: $calculator-button-width;
    font-size: 20px;
    cursor: pointer;
    background: white;

    border: none;
    border-radius: 5px;
    outline: none;
    transition: transform 100ms ease;

    margin-top: $calculator-buttons-gutter;
    margin-left: $calculator-buttons-gutter;

    &:active {
      transform: scale(0.96) translateZ(0);
    }

    &.-vertical-rect {
      height: $calculator-button-width * 2 + $calculator-buttons-gutter;
    }
  }
}
