$calculator-button-width: 45px;
$calculator-buttons-gutter: 10px;

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 30px 0 30px;

  &__input {
    width: 70px;
    height: 70px;
    margin: 0 5px;

    border: none;
    border-radius: 5px;

    font-size: 25px;
    text-align: center;
    color: black;

    background-color: white;

    &:last-of-type {
      margin-right: 0;
    }

    &:first-of-type {
      margin-left: 0;
    }

    // Hide number scroll
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &.-small {
      width: 45px;
      height: 45px;
      font-size: 20px;
    }
  }

  &__input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    width: $calculator-button-width;
    height: $calculator-button-width;
    margin-top: $calculator-buttons-gutter;
    margin-left: $calculator-buttons-gutter;
    font-size: 20px;
    cursor: pointer;
    background: white;

    border: none;
    border-radius: 5px;
    outline: none;
    transition: transform 100ms ease;

    &:active{
      transform: scale(.97);
    }
  }

  &__operation {
    margin-top: $calculator-buttons-gutter;
    margin-left: $calculator-buttons-gutter;
  }

  &__operations {
    width: ( $calculator-button-width + $calculator-buttons-gutter ) * 3;
    margin-top: -#{$calculator-buttons-gutter};
    margin-left: -#{$calculator-buttons-gutter};
  }

  &__submit {
    @extend .calculator__button;
    width: 170px;
    font-size: 15px;
    margin-top: 0;

    &[disabled] {
      //display: none;
      cursor: default;
    }
  }
}

