@import '../../styles/variables';

$calculator-button-width: 45px;
$calculator-buttons-gutter: 10px;

.calculator {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;


  @media (max-width: $breakpoint-desktop - 1px) {
    margin-top: 20px;
  }

  @media (min-width: $breakpoint-desktop) {
    margin-left: 20px;
  }

  &__input {
    width: 100%;
    height: 50px;
    margin: 0 5px;

    border: none;
    border-radius: 5px;

    font-size: 20px;
    text-align: center;
    color: black;

    background-color: white;

    &:last-of-type {
      margin-right: 0;
    }

    &:first-of-type {
      margin-left: 0;
    }

    // Hide number scroll
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &.-small {
      width: 45px;
      height: 45px;
      font-size: 20px;
    }
  }

  &__input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    width: ( $calculator-button-width + $calculator-buttons-gutter ) * 4 - $calculator-buttons-gutter;
  }

  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: ( $calculator-button-width + $calculator-buttons-gutter ) * 4;
    margin-top: -#{$calculator-buttons-gutter};
    margin-left: -#{$calculator-buttons-gutter};

    > * {
      margin-top: $calculator-buttons-gutter;
      margin-left: $calculator-buttons-gutter;
    }
  }

  &__button {
    width: $calculator-button-width;
    height: $calculator-button-width;
    font-size: 20px;
    cursor: pointer;
    background: white;

    border: none;
    border-radius: 5px;
    outline: none;
    transition: transform 100ms ease;

    &:active{
      transform: scale(.96) translateZ(0);
    }
  }

  &__submit {
    @extend .calculator__button;
    font-size: 15px;

    &[disabled] {
      cursor: default;
    }
  }

  &__submit-list {
    margin-top: -#{$calculator-buttons-gutter};
    display: flex;
    flex-direction: column;
  }
}

