@import '../../styles/variables';

$card-width: 320px;
$card-padding: 10px;
$card-triangle1-height: $card-width * .409;
$card-triangle2-height:  $card-width * .118;
$card-triangle-width: $card-triangle1-height * .577;
$card-submitbutton-width: $card-width * .227;
$card-number-width: $card-width * .254;
$card-number-fontsize: 80px;

$card-width-desktop: 570px;
$card-padding-desktop: 20px;
$card-triangle1-height-desktop: $card-width-desktop * .409;
$card-triangle2-height-desktop:  $card-width-desktop * .118;
$card-triangle-width-desktop: $card-triangle1-height-desktop * .577;
$card-submitbutton-width-desktop: $card-width-desktop * .227;
$card-number-width-desktop: $card-width-desktop * .254;
$card-number-fontsize-desktop: 135px;

$card-backgroudcolor: #040182;
$card-circle-backgroundcolor: #ffc90d;
$card-button-backgroundcolor: #d92a47;

.card {
  width: $card-width;
  height: $card-width;
  margin: 0 auto;
  position: relative;
  background-color: $card-backgroudcolor;

  @media (min-width: $breakpoint-medium) {
    width: $card-width-desktop;
    height: $card-width-desktop;
  }

  &::before {
    content: "";
    display: inline-block;
    width: calc(100% - #{$card-padding} * 2);
    height: calc(100% - #{$card-padding} * 2);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: $card-circle-backgroundcolor;
    border-radius: 50%;

    @media (min-width: $breakpoint-medium) {
      width: calc(100% - #{$card-padding-desktop} * 2);
      height: calc(100% - #{$card-padding-desktop} * 2);
    }
  }

  &__number {
    display: inline-block;
    width: $card-number-width;
    height: $card-number-width;
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #050c19;
    font-size: $card-number-fontsize;
    font-family: $font-oldstandard;
    font-weight: 400;

    background-color: transparent;
    border: none;
    outline: none;

    cursor: pointer;
    transition: opacity 200ms ease;

    @media (min-width: $breakpoint-medium) {
      width: $card-number-width-desktop;
      height: $card-number-width-desktop;
      font-size: $card-number-fontsize-desktop;
    }

    &[disabled] {
      cursor: default;
      opacity: .4;
    }

    &[data-value='6']:after,
    &[data-value='9']:after {
      content: "";
      position: absolute;
      bottom: .05em;
      height: 2px;
      width: 50%;
      background-color: black;
    }

    &:nth-of-type(1) {
      top: 10px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    &:nth-of-type(2) {
      top: 50%;
      right: 10px;
      transform: translate(0, -50%) rotate(90deg);
    }

    &:nth-of-type(3) {
      bottom: 10px;
      left: 50%;
      transform: translate(-50%, 0) rotate(180deg);
    }

    &:nth-of-type(4) {
      top: 50%;
      left: 10px;
      transform: translate(0, -50%) rotate(270deg);
    }
    @media (min-width: $breakpoint-medium) {

      &:nth-of-type(1) {
        top: $card-padding-desktop + 10px;
      }

      &:nth-of-type(2) {
        right: $card-padding-desktop + 10px;
      }

      &:nth-of-type(3) {
        bottom: $card-padding-desktop + 10px;
      }

      &:nth-of-type(4) {
        left: $card-padding-desktop + 10px;
      }
    }
  }

  &__submit-button {
    display: inline-block;
    width: $card-submitbutton-width;
    height: $card-submitbutton-width;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: $card-button-backgroundcolor;
    border: 2px solid white;
    outline: $card-button-backgroundcolor;
    transition: transform 100ms ease;

    cursor: pointer;

    &:active{
      transform: scale(.96) translate(-50%, -50%) translateZ(0);
    }

    @media (min-width: $breakpoint-medium) {
      width: $card-submitbutton-width-desktop;
      height: $card-submitbutton-width-desktop;
    }
  }

  &__triangle  {
    display: flex;

    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: left center;

    &:nth-of-type(1) {
      transform: translate(0, -50%) rotate(45deg);
    }

    &:nth-of-type(2) {
      transform: translate(0, -50%) rotate(135deg);
    }

    &:nth-of-type(3) {
      transform: translate(0, -50%) rotate(225deg);
    }

    &:nth-of-type(4) {
      transform: translate(0, -50%) rotate(315deg);
    }

    &::before,
    &::after {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
    }

    &::before {
      border-width: $card-triangle-width/2 $card-triangle1-height $card-triangle-width/2 0;
      border-color: transparent $card-button-backgroundcolor transparent transparent;
    }

    &::after {
      border-width: $card-triangle-width/2 0 $card-triangle-width/2 $card-triangle2-height;
      border-color: transparent transparent transparent $card-button-backgroundcolor;
    }

    @media (min-width: $breakpoint-medium) {
      &::before {
        border-width: $card-triangle-width-desktop/2 $card-triangle1-height-desktop $card-triangle-width-desktop/2 0;
        border-color: transparent $card-button-backgroundcolor transparent transparent;
      }

      &::after {
        border-width: $card-triangle-width-desktop/2 0 $card-triangle-width-desktop/2 $card-triangle2-height-desktop;
        border-color: transparent transparent transparent $card-button-backgroundcolor;
      }
    }
  }
}
