@use '../../styles/variables' as *;

.card {
  width: $card-width;
  height: $card-width;
  position: relative;

  @media (min-width: $breakpoint-medium) {
    margin: initial;
    width: $card-width-desktop;
    height: $card-width-desktop;
  }

  &__number {
    display: inline-block;
    width: $card-number-width;
    height: $card-number-width;
    position: absolute;

    font-size: $card-number-fontsize;
    font-family: $font-oldstandard;
    font-weight: 400;
    line-height: 1em;
    color: #050c19;

    background-color: transparent;
    border: none;
    outline: none;

    cursor: pointer;
    transition: opacity 200ms ease;

    @media (min-width: $breakpoint-medium) {
      width: $card-number-width-desktop;
      height: $card-number-width-desktop;
      font-size: $card-number-fontsize-desktop;
    }

    &[disabled] {
      opacity: .3;
    }

    &[data-value='6']:after,
    &[data-value='9']:after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 50%;
      border-top: 2px solid black;
    }

    &:nth-of-type(1) {
      top: 10px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    &:nth-of-type(2) {
      top: 50%;
      right: 10px;
      transform: translate(0, -50%) rotate(90deg);
    }

    &:nth-of-type(3) {
      bottom: 10px;
      left: 50%;
      transform: translate(-50%, 0) rotate(180deg);
    }

    &:nth-of-type(4) {
      top: 50%;
      left: 10px;
      transform: translate(0, -50%) rotate(270deg);
    }
    @media (min-width: $breakpoint-medium) {

      &:nth-of-type(1) {
        top: $card-padding-desktop + 10px;
      }

      &:nth-of-type(2) {
        right: $card-padding-desktop + 10px;
      }

      &:nth-of-type(3) {
        bottom: $card-padding-desktop + 10px;
      }

      &:nth-of-type(4) {
        left: $card-padding-desktop + 10px;
      }
    }
  }

  &__grade {
    display: flex;
    flex-direction: column;
    padding: 10px;

    position: absolute;
    top: 0;
    right: 0;
  }

  &__grade-point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;

    & + & {
      margin-top: 3px;
    }
  }

  &__submit-button {
    display: inline-block;
    width: $card-submitbutton-width;
    height: $card-submitbutton-width;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: $card-button-backgroundcolor;
    border: 2px solid white;
    outline: $card-button-backgroundcolor;
    transition: transform 100ms ease;

    cursor: pointer;

    @media (min-width: $breakpoint-medium) {
      width: $card-submitbutton-width-desktop;
      height: $card-submitbutton-width-desktop;
    }

    @media print {
      display: none;
    }
  }

  &__background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
