.card {
  width: var(--card-width);
  height: var(--card-width);
  position: relative;
}

@media (min-width: 768px) {
  .card {
    margin: initial;
    width: var(--card-width-desktop);
    height: var(--card-width-desktop);
  }
}

.number {
  display: inline-block;
  width: var(--card-number-width);
  height: var(--card-number-width);
  position: absolute;
  font-size: var(--card-number-fontsize);
  font-family: var(--font-oldstandard);
  font-weight: 400;
  line-height: 1em;
  color: #050c19;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity 200ms ease;
}

@media (min-width: 768px) {
  .number {
    width: var(--card-number-width-desktop);
    height: var(--card-number-width-desktop);
    font-size: var(--card-number-fontsize-desktop);
  }
}

.number:disabled {
  opacity: 0.3;
}

.number:nth-of-type(1) {
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}

.number:nth-of-type(2) {
  top: 50%;
  right: 10px;
  transform: translate(0, -50%) rotate(90deg);
}

.number:nth-of-type(3) {
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0) rotate(180deg);
}

.number:nth-of-type(4) {
  top: 50%;
  left: 10px;
  transform: translate(0, -50%) rotate(270deg);
}

@media (min-width: 768px) {
  .number:nth-of-type(1) {
    top: 30px;
  }
  .number:nth-of-type(2) {
    right: 30px;
  }
  .number:nth-of-type(3) {
    bottom: 30px;
  }
  .number:nth-of-type(4) {
    left: 30px;
  }
}

.grade {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.gradePoint {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}

.gradePoint + .gradePoint {
  margin-top: 3px;
}

.submitButton {
  display: inline-block;
  width: var(--card-submitbutton-width);
  height: var(--card-submitbutton-width);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--card-button-backgroundcolor);
  border: 2px solid white;
  outline: var(--card-button-backgroundcolor);
  transition: transform 100ms ease;
  cursor: pointer;
}

@media (min-width: 768px) {
  .submitButton {
    width: var(--card-submitbutton-width-desktop);
    height: var(--card-submitbutton-width-desktop);
  }
}

@media print {
  .submitButton {
    display: none;
  }
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
