.modal {
  position: fixed;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  max-width: 80%;
  width: 500px;

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
